.footer {
    margin-bottom: 50px;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
}

.footer-info {
    width: 48%;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;


    &__title {
        color: #fff;
        font-family: 'Fredoka One';
        font-size: 45px;
        margin-bottom: 20px;

        @media(max-width: 1200px) {
            font-size: 36px;
        }

        @media(max-width: 576px) {
            font-size: 30px;
        }
    }

    &__item {
        margin-bottom: 20px;

        a {
            color: #fff;
            text-decoration: none;
            transition: 200ms ease;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @media(max-width: 1200px) {
                font-size: 16px;
            }

            @media(max-width: 576px) {
                font-size: 14px;
            }
        }

        svg {
            width: 30px;
            height: 30px;
            fill: #fff;
            margin-right: 10px;
            transition: 200ms ease;

            @media(max-width: 1200px) {
                width: 26px;
                height: 26px;
            }

            @media(max-width: 576px) {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__item:hover svg {
        fill: $blue;
    }

    &__item:hover a {
        color: $blue;
    }

    @media(max-width: 768px) {
        width: 100%;
    }
}

.footer-location {
    width: 48%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;

    @media(max-width: 768px) {
        width: 100%;
        height: 400px;
        margin-top: 20px;
    }
}

.socials {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-top: 30px;

    &__item {
        margin-right: 20px;



        svg {
            width: 30px;
            height: 30px;
            fill: #fff;
            transition: 200ms ease;

            @media(max-width: 1200px) {
                width: 26px;
                height: 26px;;
            }

            @media(max-width: 576px) {
                width: 20px;
                height: 20px;
            }
        }

        a:hover svg {
            fill: $blue;
        }
    }
}

.developed {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;

    &__text {
        color: #fff;
        line-height: 1;
    }

    a {
        display: block;
    }

    &__img {
        width: 150px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}
