.section-services {

}

.services-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;

    &__item {
        font-size: 14px;
        color: rgb(136, 136, 136);
        cursor: pointer;

        @media(max-width: 1200px) {
            font-size: 12px;
        }

        @media(max-width: 768px) {
            margin: 10px;
        }
    }

    &__item.active {
        color: #000;
        border-bottom: 1px solid $red;
        

        @media(max-width: 768px) {
            padding: 6px;
            border-bottom: none;
            background-color: $red;
            border-radius: 10px;
            color: #fff;
        }
    }

    @media(max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}


.services {
    margin-top: 30px;
    margin-bottom: 20px;


    &__item {
        width: 32%;
        height: 340px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 10px;
        margin: 8px;

        @media(max-width: 1200px) {
            width: 31%;
            margin: 4px;
            height: 200px;
        }

        @media(max-width: 768px) {
            width: 30%;
            height: 150px;
        }

        @media(max-width: 576px) {
            width: 100%;
            height: 200px;
        }
    }
}

